<div class="talks">
  <ul>
    <li> (<span style="color: var(--global-theme-color);">Upcoming</span>) Title TBD, The University of Melbourne AG seminar, October 2025</li>
    <li>Connectedness of Fano schemes of matrices of bounded rank, Canadian Mathematical Society Winter Meeting, Vancouver, November 2024 (<a href="{{ '/assets/pdf/slides/cms-vancouver-24.pdf' | relative_url }}">slides</a>)</li>
    <li>Khovanskii-finite rational curves of arithmetic genus 2, SIAM Conference on Applied Algebraic Geometry (AG23), Eindhoven Univeristy of Technology, July 2023 (<a href="{{ '/assets/pdf/slides/siam-eindhoven-23.pdf' | relative_url }}">slides</a>, <a href="https://videocollege.tue.nl/Mediasite/Channel/siam-2023-event/watch/7ecdc09fb79141f79b64f76da2e08c651d">video</a>)</li>
    <li>Fano schemes of singular symmetric matrices, University of British Columbia AG seminar, March 2023</li>
    <li>Fano schemes of singular symmetric matrices, Simon Fraser University NTAG seminar, February 2023</li>
    <li>Intro to moduli spaces through Grassmannians and Fano schemes, SFU gradieNTAG seminar, January 2023</li>
    <li>Toric degenerations of quintic rational space curves, Simon Fraser University NTAG seminar, January 2020</li>
    <li>Toric degenerations of quintic rational space curves, 2nd Biennial Meeting of SIAM Pacific Northwest Section, Seattle University, October 2019 (canceled due to visa issues)</li>
  </ul>
</div>
