<div class="talks">
  <ul>
    <li>Fano schemes of singular symmetric matrices, University of British Columbia AG seminar, March 2023</li>
    <li>Fano schemes of singular symmetric matrices, Simon Fraser University NTAG seminar, February 2023</li>
    <li>Intro to moduli spaces through Grassmannians and Fano schemes, SFU gradieNTAG seminar, January 2023</li>
    <li>Toric degenerations of quintic rational space curves, Simon Fraser University NTAG seminar, January 2020</li>
    <li>Toric degenerations of quintic rational space curves, 2nd Biennial Meeting of SIAM Pacific Northwest Section, Seattle University, October 2019 (canceled due to visa issues)</li>
    </ul>
</div>
