<div class="teaching">
  <ul>
    <li>Calculus 3, <a href="http://www.sfu.ca/math.html">Simon Fraser University</a>, Spring 2024</li>
  </ul>
</div>

<p style="margin-bottom:1cm;"></p>
<p class="post-description">past teaching positions</p>

<div class="past teaching">
  <ul>
    <li>Calculus, Al-Zahra High School, Hormozgan, Iran, 2014-2016</li>
    <li>Geometry, Al-Zahra High School, Hormozgan, Iran, 2015-2016</li>
    <li>Algebra & Probability, Al-Zahra High School, Hormozgan, Iran, 2015-2016</li>
    <li>Calculus, Im. Hossein High School, Hormozgan, Iran, 2014-2015</li>
    <li>Geometry, Im. Hossein High School, Hormozgan, Iran, 2014-2015</li>
  </ul>
</div>
