<div class="teaching">
  <ul>
    <li>Calculus 3, <a href="http://www.sfu.ca/math.html">Simon Fraser University</a>, Spring 2024</li>
  </ul>
</div>

<p style="margin-bottom:1cm;"></p>
<p class="post-description">past teaching positions</p>

<div class="past teaching">
  <ul>
    <li>Calculus (Grade 11 and 12), Al Zahra High School, Hormozgan, Iran, 2014-16</li>
    <li>Calculus (Grade 11), Im. Hossein High School, Hormozgan, Iran, 2014-16</li>
    <li>Geometry (Grade 11), Al Zahra High School, Hormozgan, Iran, 2014-16</li>
    <li>Geometry (Grade 10), Im. Hossein High School, Hormozgan, Iran, 2014-16</li>
    <li>Algebra & Probability (Grade 11), Al Zahra High School, Hormozgan, Iran, 2014-16</li>
    <li>Pre-calculus (Grade 10), Al Zahra High School, Hormozgan, Iran, 2014-16</li>
    <li>Pre-calculus (Grade 9 and 10), Im. Hossein High School, Hormozgan, Iran, 2014-16</li>
  </ul>
</div>
